* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}

hr {
    height: 8px;
    background-color: grey;
}

h1,
.h1 {
    text-align: center;
    font-size: 5em;
    color: black;
    margin-top: 5px;
    margin-bottom: 0;
}

h2,
.h2 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 1.25em;
    color: red;
    margin-top: 0;
}

h3,
.h3 {
    text-align: center;
    font-size: 4em;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
    color: red;
    font-size: 1.5em;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    min-height: 1px;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.img-logo{
  border-radius: 50%;
  width: 100px;
  height: 110px;
}
#text-banner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#img-banner {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-main {
    margin-top: 15px;
}

.row-feature {
    width: 100%;
    margin-bottom: 20px;
}

.img-feature {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.text-feature {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*Tablet screen and larger*/
@media (min-width: 768px) {

    .container {
        width: 750px;
    }

    h1 {
        text-align: right;
        font-size: 4em;
    }

    h2 {
        font-size: 1.5em;
        text-align: right;
    }

    h3 {
        font-size: 3em;
        text-align: left;
    }

    a {
        font-size: 1.5em;
    }

    #img-banner {
        display: block;
        margin-left: 0;
        width: auto;
    }

    #text-banner {
        width: 50%;
        margin-right: 0;
        margin-top: 10px;
    }

    #img-main {
        margin-top: 10px;
    }

    .row-feature {
        width: 33.33333333%;
    }

    .img-feature {
        width: 90%;
    }
}


@media (min-width: 992px) {

    .container {
        width: 970px;
    }
}


@media (min-width: 1200px) {

    .container {
        width: 1170px;
    }
}

menu {
    color: red;
}

navigation {
    background-color: #333 /* darkgrey */;
}
